@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family:'Playfair Display SC', Courier, monospace;
  font-size: 64px;
  text-align: center;
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

div table tbody tr:nth-child(odd) {
  background-color: #fff0c7;
}
/* Column Size for thead */

table tr th:nth-child(4) {
  width: 30%;
}

table tr th:nth-child(5) {
  width: 30%;
}

table tr th:nth-child(1) {
  width: 10%;
}

table tr th:nth-child(2) {
  width: 10%;
}

table tr th:nth-child(3) {
  width: 10%;
}

table tr th:nth-child(6) {
  width: 10%;
}
/* Column size for tbody */


table tr td:nth-child(4) {
  width: 30%;
}

table tr td:nth-child(5) {
  width: 30%;
}

table tr td:nth-child(1) {
  width: 10%;
}

table tr td:nth-child(2) {
  width: 10%;
}

table tr td:nth-child(3) {
  width: 10%;
}

table tr td:nth-child(6) {
  width: 10%;
}

/* Others */

td img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

input {
  width:100%;
  box-sizing: border-box;
}

textarea {
  width: fit-content;
}